{{> post-info post}}

<h2>{{post.title}}</h2>
<div>
    Posted by {{post.user.username}} on {{format_date post.createdAt}} Comments: {{post.txt}}
</div>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        {{!-- <div>{{body}}</div> --}}
        <p>{{post.user.username}}, {{format_date post.createdAt}}</p>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
    {{!-- <button type="submit" class="btn">Submit</button> --}}
</form>
{{#if post.comments}}
    <section class="card">
      <div class="card-header">
        <h3>Comments</h3>
      </div>

      <div class="card-body">
        {{#each post.comments}}
          <div>
            <p>
              {{comment_text}}
            </p>
            <p>
              &mdash; {{user.username}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}
{{/if}}

{{> comments post.comment_text}}

{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
{{/if}}