<div class="uk-inline uk-margin uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-center view-single-recipe">

  <article class="uk-article">
    <h1 class="uk-article-title">{{recipie.title}}</h1>
    <a href="/dashboard/edit/{{recipie.id}}">Edit Recipe</a>
    <p class="uk-article-meta">Posted by {{recipie.user.username}} on {{format_date recipie.createdAt}}.</p>
    <p>{{recipie.description}}</p>
    <p>{{recipie.ingredients}}</p>
    <p>{{recipie.table_meals}}</p>
    <p>{{recipie.directions}}</p>
    <hr class="uk-divider-icon"></hr>
  </article>
</div>

<div data-uk-grid="{gutter: 20}" class="uk-grid single-recipe-comments">
  <div class="uk-width-1">
      <div class="uk-grid uk-flex-center uk-text-left">
          <div class="uk-width-1-3@m">
              {{#if loggedIn}}
                <form class="comment-form">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <textarea name="comment-body" class="uk-textarea" rows="3" placeholder="Add a comment"></textarea>
                            {{!-- <p>- {{recipie.user.username}} | {{format_date recipie.createdAt}}</p> --}}
                        </div>

                        <button type="submit" class="btn uk-button uk-button-secondary">Add Comment</button>
                    </fieldset>
                </form>
          </div>

          <div class="uk-width-1-2@m">
                {{#if recipie.comments}}
                  <div class="uk-width-1-3@m">
                    <h3>Comments</h3>
                    {{!-- <p>{{recipie.user.username}}</p> --}}
                    {{#each recipie.comments}}
                      <div>
                        <p>{{comment_text}}</p>
                        <p>- {{user.username}} | {{format_date createdAt}}</p>
                        <hr class="uk-divider-small"></hr>
                      </div>
                    {{/each}}
                  </div>
                {{/if}}
            {{/if}}
          </div>
      </div>
  </div>
</div>


{{#if loggedIn}}
<script src="/public/javascript/comment.js"></script>
{{/if}}