{{> recipie-info recipie}}

<h2>{{recipie.title}}</h2>
<div>
    Posted by {{recipie.user.username}} on {{format_date recipie.createdAt}} Comments: {{recipie.description}}, {{recipie.ingredients}}, {{recipie.table_meals}}, {{recipie.directions}}

</div>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        {{!-- <div>{{body}}</div> --}}
        <p>{{recipie.user.username}}, {{format_date recipie.createdAt}}</p>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
    {{!-- <button type="submit" class="btn">Submit</button> --}}
</form>
{{#if recipie.comments}}
    <section class="card">
      <div class="card-header">
        <h3>Comments</h3>
      </div>

      <div class="card-body">
        {{#each recipie.comments}}
          <div>
            <p>
              {{comment_text}}
            </p>
            <p>
              &mdash; {{user.username}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}
{{/if}}

{{> comments recipie.comment_text}}

{{#if loggedIn}}
<script src="/public/javascript/comment.js"></script>
{{/if}}